* {
  margin: 0;
  padding: 0;
  color: #f9f9f9;
}

body {
  background: linear-gradient(to bottom right, #628e75, #1a4855) no-repeat;
  height: 100%;
}

.container {
  padding-left: 25px;
  padding-top: 14px;
  padding-right: 25px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.networks {
  display: flex;
  gap: 31px;
}

.networks li {
  list-style: none;
}

.content > h2 {
  font-family: "Poppins";
  font-weight: 700, bold;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 6px;
}

.content img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Poppins";
  font-weight: 900;
  font-size: 56px;
  line-height: 61px;
  margin-bottom: 16px;
}

p {
  font-family: "poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 58px;
}

.watch {
  display: flex;
  gap: 14px;
  padding: 8px 33px 8px 36px;
  margin-bottom: 70px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}

.forma {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background-color: #658e76;
  width: max-content;
  margin-left: 8px;
}

.watch img {
  width: 18px;
}

.watch > h2 {
  font-family: "poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
}
